*~
all-tests
cmake_install.cmake
*.a
CMakeCache.txt
CMakeFiles/
Makefile
test/ll_files/*.ll
single_store
single_store.v
plus
plus.v
if_else.v
if_else
read_2
read_2.v
loop_add_7.v
loop_add_7
obj_dir/
many_adds
many_adds.v
read_2_failing.v
cmp_gt
cmp_gt.v
loop_add_4.v
loop_add_4
loop_add_4_6_iters
loop_add_4_6_iters.v
loop_add_4_copy
loop_add_4_copy.v
a.out
blur_no_lb_tb.v
blur_no_lb
blur_no_lb.v
*.txt
blur_lb
blur_lb.ll
blur_lb.v
blur_lb_tb.v
/#*
mvmul
mvmul.v
stalled_single_store
stalled_single_store.v
stalled_single_store_axi
stalled_single_store_axi.v
brighter
brighter.v
brighter_tb.v
using_shift_register
using_shift_register.v
using_shift_register_tb.v
one_register.v
one_register_tb.v
sr_stencil_loop
sr_stencil_loop.v
sr_stencil_loop_tb.v
*.ll
*.o
accum_loop
accum_loop.v
accum_loop_tb.v
one_d_stencil
one_d_stencil.v
one_d_stencil_sr
one_d_stencil_sr.v
one_d_stencil_sr_tb.v
one_d_stencil_tb.v